<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">

               <form >
                   <div class="form-group row justify-content-center">
                    <label for="Email">Email<span className='text-danger'>*</span></label>
                    <input type="email" className="form-control border-2" id="Email" aria-describedby="emailHelp" placeholder="Enter Email" />
                    
                    <label for="pswd">Email<span className='text-danger'>*</span></label>
                    <input type="password" className="form-control border-2" id="pswd" aria-describedby="emailHelp" placeholder="Enter password />
                    
                   </div>
               </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>