
.register-form::-webkit-scrollbar{
  display: none;
}
/* .app {
  background-color: #ffffff;
  color: #333;
  text-align: center;
  transition: background-color 0.3s;
}

.app.dark {
  background-color: #333;
  color: #ffffff;
} */
input{
  background:none !important;
}
img{
  transition:cubic-bezier(0.075, 0.82, 0.165, 1);
}